### Data cleaning and wrangling: Mobile homes in Paradise, California

#### By Kavish Harjai

**Question**

How does the number of mobile home lots in Paradise, California, compare to the number of mobile home lots in other cities in California with a similar population density?

**Datasets**

This project uses three datasets, including:

* Mobile home parks permitted by the [California Housing and Community Development Department.](https://casas.hcd.ca.gov/casas/cmirMp/onlineQuery)
* Population estimates by place in California from the 2018 ACS 5-year-estimates (via API).
* [California places geography.](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2018.html)

**Methodology**

1. Clean mobile home dataset
2. Acquire population data from ACS using Census API
3. Use geography dataset to calculate population density
4. Merge datasets together, resulting in a population density calculation for every California city in 2018

In [2]:
import pandas as pd 
import numpy as np
import os as os
import requests
from pprint import pprint

In [3]:
data_dir = os.environ["DATA_DIR"]
raw_data = data_dir + "/raw/"
processed_data = data_dir + '/processed/'

In [4]:
list_of_parks = pd.read_csv(raw_data + 'MH_parks.csv')
list_of_parks.head()

,Park Name,County,Park Identifier,Park Address,Fire Authority,Jurisdiction,MH Spaces,RV Lots W/Drains,RV Lots W/O Drains,Operated by,ADDRESS
0,SPANISH RANCH II,ALAMEDA,01-0001-MP,"121 RANCHERO WAY, HAYWARD, CA 94544, (510) 886...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...",187.0,0.0,0.0,"HOMETOWN SPANISH RANCH, LLC, A DELAWARE LIMITE...","121 RANCHERO WAY, HAYWARD, CA 94544, (510) 886..."
1,GEORGIAN MANOR MHP,ALAMEDA,01-0003-MP,"1419 BUCKINGHAM WAY, HAYWARD, CA 94544, (510) ...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...",265.0,0.0,0.0,"GEORGIAN MANOR MOBILEHOME PARK L P, 321 HARTZ ...","1419 BUCKINGHAM WAY, HAYWARD, CA 94544, (510) ..."
2,BAL TRAILER CT,ALAMEDA,01-0008-MP,"14831 BANCROFT AVE, SAN LEANDRO, CA 94578, (51...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...",31.0,0.0,0.0,"PUEBLO SPRINGS MHP LTD, 10351 SANTA MONICA BLV...","14831 BANCROFT AVE, SAN LEANDRO, CA 94578, (51..."
3,VASCO MHP,ALAMEDA,01-0010-MP,"6539 S FRONT RD, LIVERMORE, CA 94550, (925) 44...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...",50.0,21.0,0.0,"SOLOMON/MANDEL, EDWARD/GEORGE, PO BOX 406, ALA...","6539 S FRONT RD, LIVERMORE, CA 94550, (925) 44..."
4,AVALON MOBILE HOME PARK,ALAMEDA,01-0013-MP,"3970 CASTRO VALLEY BLVD, CASTRO VALLEY, CA 945...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...","HCD - NORTHERN AREA OFFICE, 9342 TECH CENTER D...",49.0,0.0,0.0,"AVALON MHP INC, 4061 EAST CASTRO VALLEY BLVD S...","3970 CASTRO VALLEY BLVD, CASTRO VALLEY, CA 945..."

Standardize column names.

In [5]:
list_of_parks.columns = list_of_parks.columns.str.replace(' ','_').str.replace('/', '').str.lower()

The mobile home dataset contains information about RV parks, which are irrelevant to the analysis. Remove those instances by dropping all rows where ```mh_spaces``` is equal to 0 or null.

In [6]:
list_of_parks = list_of_parks[(list_of_parks.mh_spaces != 0) & (~list_of_parks.mh_spaces.isna())]

In [7]:
len(list_of_parks)

4667

Make new columns from street address, city, state and phone number information currently in ```park_address``` column.

In [8]:
list_of_parks['park_address'] = list_of_parks.park_address.str.title()

In [9]:
list_of_parks[['street_add', 'city', 'state_zip', 'phone_num']] = list_of_parks['park_address'].str.split(',', n = 3, expand=True)

In [10]:
list_of_parks['city'] = list_of_parks['city'].str.lstrip(' ')
list_of_parks[['state', 'zip']] = list_of_parks['state_zip'].str.split(expand=True)
list_of_parks['state'] = list_of_parks.state.str.upper()

Drop redundant columns.

In [11]:
list_of_parks = list_of_parks.drop(['address',
                                   'state_zip'], axis=1)

Group dataframe by city and sum the number of mobile home lots in each.

In [12]:
list_of_parks_grouped = list_of_parks.groupby('city').mh_spaces.sum().reset_index().sort_values('mh_spaces')

Export grouped and full dataframes.

In [13]:
list_of_parks_grouped.to_csv(processed_data + 'mh_parks_grouped.csv', index=False)
list_of_parks.to_csv(processed_data + 'mh_parks_full_clean.csv', index=False)

#### Acquire 2018 ACS population estimates

Build API call, where:
- ```dsource``` indicates the data source. 
- ```dname``` differentiates between survey types.
- ```chart``` indicates the specific data from the survey.
- ```geo``` specifies the geography level .

The table that's called via API can be viewed [here.](https://data.census.gov/table?g=040XX00US06&d=ACS+5-Year+Estimates+Data+Profiles&tid=ACSDP5Y2018.DP05)

In [14]:
dsource = 'acs' #American Community Survey
dname = 'acs5'#American Community Survey, 5-year-estimates
year=2018
base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/profile'
chart = 'DP05_0001E' #population estimates data
state = '06' #California FIPS code
geo='place'
api_key = os.environ["CENSUS_API_KEY"]
data_url = f'{base_url}?get=NAME,{chart}&for={geo}:*&in=state:{state}&key={api_key}'
response=requests.get(data_url)
json=response.json()

Convert json object to dataframe.

In [16]:
population_by_place_name =pd.DataFrame(json[1:], columns=json[0]
                              ).rename(columns={'NAME':'city',
                                                'DP05_0001E':'pop_2018_est'}
                                      ).drop(columns=['state']
                                            )

In [17]:
population_by_place_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521 entries, 0 to 1520
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          1521 non-null   object
 1   pop_2018_est  1521 non-null   object
 2   place         1521 non-null   object
dtypes: object(3)
memory usage: 35.8+ KB

In [18]:
population_by_place_name

                                city pop_2018_est  place
0        Mead Valley CDP, California        19925  46646
1           Meridian CDP, California          405  46926
2         Mesa Verde CDP, California          584  47066
3     Mexican Colony CDP, California          363  47192
4           Midpines CDP, California         1396  47374
...                              ...          ...    ...
1516  Beverly Hills city, California        34362  06308
1517         Covina city, California        48403  16742
1518        Del Aire CDP, California        10065  18352
1519         Downey city, California       112901  19766
1520       Glendale city, California       200372  30000

[1521 rows x 3 columns]

Remove extraneous words that follow the name of places, like "city," "CDP," and "town,"" as well as state name. This will be necessary to make a clean merge later.

In [33]:
population_by_place_name['city'] = population_by_place_name['city'].str.replace(' city','')
population_by_place_name['city'] = population_by_place_name['city'].str.replace(' CDP','')
population_by_place_name['city'] = population_by_place_name['city'].str.replace(' town','')
population_by_place_name['city'] = population_by_place_name['city'].str.replace(', California','')

Export.

In [34]:
population_by_place_name.to_csv(processed_data + 'ca_cities_2018_ACS.csv', index=False)

#### Clean California place shapefile

The most important columns in the shapefile for this analysis include:

- ```NAME```, which is the place name.
- ```ALAND```, which contains land area for the specified place. (denominator in population density calculation)
- ```PLACEFP```, which indicates the place FIPS code.

In [35]:
places_geo = pd.read_csv(raw_data + 'ca_place_geo_2018.csv', dtype=str)

In [36]:
places_geo = places_geo[['NAME', 'ALAND', 'PLACEFP', 'NAMELSAD']]

In [37]:
places_geo.rename(columns={'NAME':'city',
                          'ALAND':'area_land',
                          'PLACEFP': 'place',
                          'NAMELSAD': 'place_type'}, inplace=True)

### Merging

Join ACS population estimates with place geography dataset on common column ```place```, which reflects place FIPS code. This merged dataframe will be used to calculate population density.

In [38]:
merged = pd.merge(population_by_place_name, places_geo, on='place', how='outer')

In [39]:
merged = merged.rename(columns={'city_x':'city'})

Check for nulls.

In [40]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521 entries, 0 to 1520
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          1521 non-null   object
 1   pop_2018_est  1521 non-null   object
 2   place         1521 non-null   object
 3   city_y        1521 non-null   object
 4   area_land     1521 non-null   object
 5   place_type    1521 non-null   object
dtypes: object(6)
memory usage: 83.2+ KB

```area_land``` reflects area in terms of square meters, per [the Census](https://www.census.gov/quickfacts/fact/note/US/LND110210#:~:text=Land%20area%20%2D%20an%20area%20measurement,MAF%2FTIGER%20Database%22). 

To convert to square miles, first change the data type of the ```population``` and ```area``` columns to integers. Then divide every ```area_land``` value by 2,589,988 to obtain area in terms of square miles.

In [41]:
merged['pop_2018_est'] = merged['pop_2018_est'].astype(int)

In [42]:
merged['area_land'] = merged['area_land'].astype(int)

In [43]:
merged['area_land'] = (merged['area_land'] / 2589988).round(2)

Create new ```pop_density``` column by dividing population estimates by land area in square miles.

In [44]:
merged['pop_density'] = (merged['pop_2018_est'] / merged['area_land']).round(2)

Merge population dataset with grouped mobile home dataset.

In [47]:
mh_merge = pd.merge(merged, list_of_parks_grouped, on='city', how='left')

Export.

In [48]:
mh_merge.to_csv(processed_data + 'mh_merge.csv', index=False)